@mixin fontFace($name,$fileName,$weight,$style) {
  @font-face {
    font-family: '#{$name}';
    src: url('//yasin749.github.io/public/fonts#{$fileName}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}