.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: center;

  >div{

  }
  .black-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }
  .content-section-wrapper{
    position: relative;
    background: #fff;
    width: $siteWidth;
    padding: 25px;
    z-index: 2;

    .close-button{
      position: absolute;
      top: 0;
      right: -50px;
      width: 50px;
      height: 50px;
      background: #302c2c;
      font-weight: 600;
      color: #fff;
      font-size: 22px;
      padding: 3px 0 0 0;
    }
  }
  .content-section{
    .head-block{
      h2{
        margin: 0;
        padding: 5px 0 20px 0;
      }
    }
    .body-block{
      //padding: 50px 0 0 0;
    }
    .body-block-inner{
      min-height: 100px;
      max-height: 70vh;
      overflow: scroll;
    }
  }
}