.weather-line {
  display: flex;
  border-bottom: 1px solid $borderColor-300;
  > div {
    flex: 1;
    @extend .aligner;
    flex-direction: column;
    padding: 5px;
  }
  &.sunday {
    background: #f7f7f7;
  }
  &.monday, &.wednesday, &.friday {

  }
  &.tuesday, &.thursday, &.saturday {
    background: #f7f7f7;
  }
  &.head {
    padding: 10px 0;
    background: $baseColor-400;
    color: #fff;
    border: none;
  }
  .date {

  }
  .ico {
    img {
      width: 50px;
      height: 50px;
    }
  }
  .temperature {

  }
  .state {

  }
  .wind {

  }
}


@media screen and (max-width: 640px) {
  .weather-line {
    font-size: 12px;
    > div {
      padding: 0px;
    }
  }
}

