@mixin fontFace($name,$fileName,$weight,$style) {
  @font-face {
    font-family: '#{$name}';
    src: url('https://yasin749.github.io/weather-state/vue/public/fonts/#{$fileName}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}


