header{
  border-bottom: 1px solid #ebebeb;
  .logo{
    height: 85px;
    a{
      color: #f03f3e;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 3px;
      word-spacing: 5px;
    }

  }
}