$siteWidth: 700px;
$baseColor-400: #f26013;
$baseColor-300: #ec6c29;
$font: 'Avenir LT Pro', sans-serif;
$fontColor: #302c2c;
$fontSize: 14px;
$borderColor-300: #dcdcdc;
$borderColor-400: #ccc;

$marginBase: 24px;
$transitionBase: all 0.10s ease-in-out 0s;